<!-- Switcher -->

<div #switcher class="switcher-wrapper">
  <div class="demo_changer">
    <div class="form_holder sidebar-right1">
      <div class="row">
        <div class="predefined_styles">
          <!-- <ng-scrollbar> -->
          <div class="swichermainleft text-center">
            <h4>LTR y RTL Versión</h4>
          </div>
          <div class="switch_section">
            <div class="switch-toggle d-flex">
              <span class="me-auto">LTR</span>
              <p class="onoffswitch2 my-0">
                <input type="radio" name="onoffswitch25" id="myonoffswitch54" class="onoffswitch2-checkbox" checked />
                <label for="myonoffswitch54" class="onoffswitch2-label"></label>
              </p>
            </div>
            <div class="switch-toggle d-flex mt-2">
              <span class="me-auto">RTL</span>
              <p class="onoffswitch2 my-0">
                <input type="radio" name="onoffswitch25" id="myonoffswitch55" class="onoffswitch2-checkbox" />
                <label for="myonoffswitch55" class="onoffswitch2-label"></label>
              </p>
            </div>
          </div>
          <!-- </ng-scrollbar> -->
          <div class="swichermainleft">
            <h4>Estilo del tema</h4>
          </div>
          <div class="switch_section px-0">
            <div class="switch-toggle d-flex">
              <span class="me-auto">Tema claro</span>
              <p class="onoffswitch2 my-0" (click)="LightTheme()">
                <input type="radio" name="onoffswitch1" id="myonoffswitch1" class="onoffswitch2-checkbox" />
                <label for="myonoffswitch1" class="onoffswitch2-label"></label>
              </p>
            </div>
            <div class="switch-toggle d-flex mt-2">
              <span class="me-auto">Tema oscuro</span>
              <p class="onoffswitch2 my-0" (click)="DarkTheme()">
                <input type="radio" name="onoffswitch1" id="myonoffswitch2" class="onoffswitch2-checkbox" />
                <label for="myonoffswitch2" class="onoffswitch2-label"></label>
              </p>
            </div>
            <div class="swichermainleft switcher-nav">
              <h4>Estilo de navegación</h4>

              <div class="skin-body">
                <div class="switch_section">
                  <div class="switch-toggle d-flex">
                    <span class="me-auto">Menú vertical</span>
                    <p class="onoffswitch2 my-0">
                      <input type="radio" name="onoffswitch15" id="myonoffswitch34" class="onoffswitch2-checkbox"
                        checked />
                      <label for="myonoffswitch34" class="onoffswitch2-label"></label>
                    </p>
                  </div>
                  <div class="switch-toggle d-flex mt-2">
                    <span class="me-auto">Click Menú Horizontal</span>
                    <p class="onoffswitch2 my-0">
                      <input type="radio" name="onoffswitch15" id="myonoffswitch35" class="onoffswitch2-checkbox" />
                      <label for="myonoffswitch35" class="onoffswitch2-label"></label>
                    </p>
                  </div>
                  <div class="switch-toggle d-flex mt-2">
                    <span class="me-auto">Menú flotante Horizontal</span>
                    <p class="onoffswitch2 my-0">
                      <input type="radio" name="onoffswitch15" id="myonoffswitch111" class="onoffswitch2-checkbox" />
                      <label for="myonoffswitch111" class="onoffswitch2-label"></label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swichermainleft">
              <h4>Primer color del tema</h4>
            </div>
            <div class="switch_section">
              <div class="switch-toggle d-flex">
                <span class="me-auto"> Primer color</span>
                <div class="">
                  <input class="color-primary-transparent" id="transparentPrimaryColorID" data-id="bg-color"
                    data-id1="bg-hover" data-id2="bg-border" data-id3="primary" data-id4="primary"
                    data-id9="transparentcolor" [style.background]="color3" [cpAlphaChannel]="'disabled'"
                    [cpOutputFormat]="'hex'" [(colorPicker)]="color3"
                    (cpSliderDragEnd)="dynamicTranparentPrimary($event)" />
                </div>
              </div>
              <div class="switch-toggle d-flex mt-2">
                <span class="me-auto">Color de fondo</span>
                <div class="">
                  <input class="dark-bg-body" id="darkBgColorID" data-id5="body" data-id6="theme"
                    [style.background]="color3" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'"
                    [(colorPicker)]="color3" (cpSliderDragEnd)="dynamicDarkBg($event)" />
                </div>
              </div>

              <div class="swichermainleft leftmenu-styles">
                <h4>Estilo de menú</h4>
              </div>
              <div class="switch_section">
                <div class="switch-toggle lightMenu d-flex">
                  <span class="me-auto">Menú claro</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch2" id="myonoffswitch3" class="onoffswitch2-checkbox" checked />
                    <label for="myonoffswitch3" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle colorMenu d-flex mt-2">
                  <span class="me-auto">Color Menu</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch2" id="myonoffswitch4" class="onoffswitch2-checkbox" />
                    <label for="myonoffswitch4" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle darkMenu d-flex mt-2">
                  <span class="me-auto">Menú oscuro</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch2" id="myonoffswitch5" class="onoffswitch2-checkbox" />
                    <label for="myonoffswitch5" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>

              <div class="swichermainleft header-styles">
                <h4>Estilos del encabezado</h4>
              </div>
              <div class="switch_section">
                <div class="switch-toggle lightHeader d-flex">
                  <span class="me-auto">Encabezado claro</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch3" id="myonoffswitch6" class="onoffswitch2-checkbox" checked />
                    <label for="myonoffswitch6" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle colorHeader d-flex mt-2">
                  <span class="me-auto">Color de encabezado</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch3" id="myonoffswitch7" class="onoffswitch2-checkbox" />
                    <label for="myonoffswitch7" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle darkHeader d-flex mt-2">
                  <span class="me-auto">Encabezado oscuro</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch3" id="myonoffswitch8" class="onoffswitch2-checkbox" />
                    <label for="myonoffswitch8" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>
              <div class="swichermainleft">
                <h4>Estilo ancho del diseño</h4>
              </div>
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">Máximo ancho</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch4" id="myonoffswitch9" class="onoffswitch2-checkbox" checked />
                    <label for="myonoffswitch9" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Fijo</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch4" id="myonoffswitch10" class="onoffswitch2-checkbox" />
                    <label for="myonoffswitch10" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>

              <div class="swichermainleft">
                <h4>Posición de diseño</h4>
              </div>
              <div class="switch_section">
                <div class="switch-toggle d-flex">
                  <span class="me-auto">Fijo</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch5" id="myonoffswitch11" class="onoffswitch2-checkbox"
                      checked />
                    <label for="myonoffswitch11" class="onoffswitch2-label"></label>
                  </p>
                </div>
                <div class="switch-toggle d-flex mt-2">
                  <span class="me-auto">Desplazable</span>
                  <p class="onoffswitch2 my-0">
                    <input type="radio" name="onoffswitch5" id="myonoffswitch12" class="onoffswitch2-checkbox" />
                    <label for="myonoffswitch12" class="onoffswitch2-label"></label>
                  </p>
                </div>
              </div>
            </div>

            <div class="swichermainleft">
              <h4>Resetear todo el estilo</h4>
            </div>
            <div class="switch_section my-4">
              <div class="btn-list">
                <button class="btn btn-danger btn-block" (click)="reset()">
                  Resetear todo
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
