<app-page-header title="Pages"  active_item="Services"></app-page-header>
  <!-- ROW-1 OPEN -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 ">
            <div class="card service">
                <div class="card-body">
                    <div class="item-box text-center">
                        <div class=" text-center  mb-4 text-primary"><i class="icon icon-people"></i></div>
                        <div class="item-box-wrap">
                            <h5 class="mb-2 font-weight-normal">Creative solutions</h5>
                            <p class="text-muted mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
            <div class="card service">
                <div class="card-body">
                    <div class="item-box text-center">
                        <div class=" text-center text-danger mb-4"><i class="icon icon-clock"></i></div>
                        <div class="item-box-wrap">
                            <h5 class="mb-2 font-weight-normal">Trace your time</h5>
                            <p class="text-muted mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
            <div class="card service">
                <div class="card-body">
                    <div class="item-box text-center">
                        <div class=" text-center text-success mb-4"><i class="fa fa-building-o"></i></div>
                        <div class="item-box-wrap">
                            <h5 class="mb-2 font-weight-normal">Business FrameWork</h5>
                            <p class="text-muted mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
            <div class="card service">
                <div class="card-body">
                    <div class="item-box text-center">
                        <div class="text-center text-warning mb-4"><i class="icon icon-action-redo"></i></div>
                        <div class="item-box-wrap">
                            <h5 class="mb-2 font-weight-normal">Shares</h5>
                            <p class="text-muted mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-1 CLOSE -->

    <!-- ROW-2 OPEN -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 feature my-auto">
                            <div class="fa-stack fa-lg fa-1x btn-primary mb-3 feature-service">
                                <i class="fa fa-globe fa-stack-1x text-white"></i>
                            </div>
                        </div>
                            <div class="col-xl-10 col-lg-9">
                            <div class="mt-1">
                                <h4 class="font-weight-normal">Web design</h4>
                                <p class="mb-0 text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                                making it look like readable English.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 feature my-auto">
                            <div class="fa-stack fa-lg fa-1x bg-warning mb-3 feature-service">
                                <i class="fa fa-building-o fa-stack-1x text-white"></i>
                            </div>
                        </div>
                            <div class="col-xl-10 col-lg-9">
                            <div class="mt-1">
                                <h4 class="font-weight-normal">Web Development</h4>
                                <p class="mb-0 text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                                making it look like readable English.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 feature my-auto">
                            <div class="fa-stack fa-lg fa-1x bg-pink mb-3 feature-service">
                                <i class="fa fa-file-word-o fa-stack-1x text-white"></i>
                            </div>
                        </div>
                            <div class="col-xl-10 col-lg-9">
                            <div class="mt-1">
                                <h4 class="font-weight-normal">Wordpress</h4>
                                <p class="mb-0 text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                                making it look like readable English.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 feature my-auto">
                            <div class="fa-stack fa-lg fa-1x bg-danger mb-3 feature-service">
                                <i class="fa fa-camera fa-stack-1x text-white"></i>
                            </div>
                        </div>
                            <div class="col-xl-10 col-lg-9">
                            <div class="mt-1">
                                <h4 class="font-weight-normal">photography</h4>
                                <p class="mb-0 text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                                making it look like readable English.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 feature my-auto">
                            <div class="fa-stack fa-lg fa-1x bg-purple mb-3 feature-service">
                                <i class="fa fa-pencil-square-o fa-stack-1x text-white"></i>
                            </div>
                        </div>
                            <div class="col-xl-10 col-lg-9">
                            <div class="mt-1">
                                <h4 class="font-weight-normal">Development</h4>
                                <p class="mb-0 text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                                making it look like readable English.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 feature my-auto">
                            <div class="fa-stack fa-lg fa-1x bg-success mb-3 feature-service">
                                <i class="fa fa-eercast fa-stack-1x text-white"></i>
                            </div>
                        </div>
                            <div class="col-xl-10 col-lg-9">
                            <div class="mt-1">
                                <h4 class="font-weight-normal">Android</h4>
                                <p class="mb-0 text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                                making it look like readable English.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-2 CLOSE -->

    <!-- ROW-3 OPEN -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Our services</h3>
                </div>
                <div class="card-body">
                    <div class="text-wrap">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label>Web Design</label>
                                <p><ngb-progressbar type=" bg-secondary" textType="white" [value]="50" [showValue]="true"></ngb-progressbar></p>

                            </div>
                            <div class="col-md-6">
                                <label>Web Development</label>
                                <p><ngb-progressbar type=" bg-danger" textType="white" [value]="70" [showValue]="true"></ngb-progressbar></p>
                              </div>
                            <div class="col-md-6">
                                <label>Wordpress</label>
                                <p><ngb-progressbar type="  bg-warning" textType="white" [value]="80" [showValue]="true"></ngb-progressbar></p>
                            </div>
                            <div class="col-md-6">
                                <label>Photography</label>
                                <p><ngb-progressbar type=" bg-primary" textType="white" [value]="75" [showValue]="true"></ngb-progressbar></p>

                            </div>
                            <div class="col-md-6">
                                <label>Development</label>
                                <p><ngb-progressbar type=" bg-pink" textType="white" [value]="65" [showValue]="true"></ngb-progressbar></p>

                            </div>
                            <div class="col-md-6">
                                <label>Android</label>
                                <p><ngb-progressbar type=" bg-success" textType="white" [value]="69" [showValue]="true"></ngb-progressbar></p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-3 CLOSED -->

