<!-- Modal -->
<ng-template #ubicationDetailModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ubicación del empleado</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <div id="myMap" style="position:relative;height:450px;"></div>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>

  </div>
</ng-template>
