<app-page-header title="Dashboards" active_item="Inicio"></app-page-header>


<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card sales-1 overflow-hidden">
      <div class="card-body">
        <span class="bg-primary-transparent icon-service text-primary float-end"><i class="fe fe-briefcase"></i> </span>
        <h6 class="mb-3 font-weight-500">Total mantenimientos realizados</h6>
        <h4 class="mb-1"><span class="number-font "><span class="counter">46</span></span><span class="fs-11 ms-2">
          </span></h4>
      </div>
      <div class="card-over-data ">

        <div class="chartjs-wrapper-demo ">

          <canvas height="90" #myCanvas1></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card sales-1 overflow-hidden">
      <div class="card-body">
        <span class="bg-danger-transparent icon-service text-danger float-end"><i class="fe fe-box"></i> </span>
        <h6 class="mb-3 font-weight-500">Total averías atentidas</h6>
        <h4 class="mb-1"><span class="number-font"><span class="counter">15</span></span><span
            class="fs-11 ms-2"></span></h4>
      </div>
      <div class="card-over-data">


        <div class="chartjs-wrapper-demo">

          <canvas height="90" #myCanvas></canvas>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card sales-1 overflow-hidden">
      <div class="card-body">
        <span class="bg-secondary-transparent icon-service text-secondary float-end"><i class="fe fe-pie-chart"></i>
        </span>
        <h6 class="mb-3 font-weight-500">Total de comprobantes de ejecución</h6>
        <h4 class="mb-1"><span class="number-font"><span class=" counter">10</span></span><span class="fs-11 ms-2">
          </span></h4>
      </div>
      <div class="card-over-data">
        <div class="chartjs-wrapper-demo ">
          <canvas height="90" #myCanvas2></canvas>
        </div>


      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card sales-1 overflow-hidden">
      <div class="card-body">
        <span class="bg-success-transparent icon-service text-success float-end"><i class="fe fe-trending-up"></i>
        </span>
        <h6 class="mb-3 font-weight-500">Total fotos enviadas</h6>
        <h4 class="mb-1"><span class="number-font"><span class="counter">68</span></span><span class="fs-11 ms-2">
          </span></h4>
      </div>
      <div class="card-over-data">
        <div class="chartjs-wrapper-demo ">
          <canvas height="90" #myCanvas3></canvas>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card" [(ngbCollapse)]="isClosed2">
      <div class="card-header">
        <div class="card-title">Estadística de mantenimiento por técnico</div>
        <div class="card-options">
          <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
            (click)="Collapsetoggle2()" [attr.aria-expanded]="!isCollapsed2"><i
              class="fe fe-chevron-{{ !isCollapsed2 ? 'up' : 'down'}}"></i></a>
          <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove" (click)="Closetoggle2()"
            [attr.aria-expanded]="!isClosed2"><i class="fe fe-x"></i></a>
        </div>
      </div>
      <div class="card-body" [(ngbCollapse)]="isCollapsed2">
        <div class="mb-0">
          <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="barData.chart" [yaxis]="chartOptions.yaxis"
              [xaxis]="barData.xaxis" [dataLabels]="chartOptions.dataLabels" [stroke]="barData.stroke"
              [plotOptions]="chartOptions.plotOptions" [colors]="apexData.colors" [tooltip]="chartOptions.tooltip"
              [grid]="chartOptions.grid"></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
