<!-- BACKGROUND-IMAGE -->
<div class="bg-image vh-100" style="background-image: url('./assets/images/brand/hi.jpg'); background-size: contain;">

  <!-- PAGE -->
  <div class="page">
    <div class="">

      <div class="col col-login mx-auto mt-7">
        <div class="text-center">
          <a routerLink="/dashboard/sales"><img src="./assets/images/brand/logo-white.png" class="header-brand-img m-0"
              alt=""></a>
        </div>
      </div>
      <div class="container-login100">
        <div class="wrap-login100 p-6">
          <form (ngSubmit)="register()" class="login100-form validate-form">
            <span class="login100-form-title">
              Registro
            </span>

            <div class="row">
              <div class="col">
                <label for="">Nombre</label>
                <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                  <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                    <i class="zmdi zmdi-account-box" aria-hidden="true"></i>
                  </a>
                  <input class=" border-start-0 ms-0 form-control" name="name" type="text" [(ngModel)]="password"
                    placeholder="Ingrese el nombre" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="">Apellidos</label>
                <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                  <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                    <i class="zmdi zmdi-account-box" aria-hidden="true"></i>
                  </a>
                  <input class=" border-start-0 ms-0 form-control" name="lastName" type="text" [(ngModel)]="password"
                    placeholder="Ingrese los apellidos" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="">Teléfono</label>
                <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                  <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                    <i class="zmdi zmdi-account-box" aria-hidden="true"></i>
                  </a>
                  <input class=" border-start-0 ms-0 form-control" name="phone" type="text" [(ngModel)]="password"
                    placeholder="Ingrese su número de teléfono" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="">Correo</label>
                <div class="wrap-input100 validate-input input-group"
                  data-bs-validate="Valid email is required: ex@abc.xyz">
                  <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                    <i class="zmdi zmdi-email" aria-hidden="true"></i>
                  </a>
                  <input class=" border-start-0 ms-0 form-control" type="email" name="email" [(ngModel)]="email"
                    placeholder="Ingrese su correo electronico" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="">Contraseña</label>

                <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                  <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                    <i class="zmdi zmdi-eye" aria-hidden="true"></i>
                  </a>
                  <input class=" border-start-0 ms-0 form-control" name="password" type="password"
                    [(ngModel)]="password" placeholder="Ingrese la contraseña" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <p *ngIf="errorMessage.length > 0" class="text-danger">
                {{errorMessage}}</p>

              <p *ngIf="error.message.length > 0" class="text-danger">
                {{error.message}} </p>

              <p *ngIf="message.length > 0" class="text-info">
                {{message}} </p>
            </div>

            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn btn-primary">
                Registrar
              </button>
            </div>
            <div class="text-center pt-3">
              <p class="text-dark mb-5">¿Tienes una cuenta?<a routerLink="/auth/login" class="text-primary ms-1">Inicia
                  sesión</a></p>
            </div>


          </form>
        </div>
      </div>

    </div>
  </div>

</div>
