<app-page-header title="Usuarios" active_item="Control horario"></app-page-header>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div>
          <input type="text" class="form-control bg-transparent border-0 rounded-0 text-center"
            style="padding: 8px; margin: 15px auto; width: 30%" placeholder="Type to filter the name column..."
            (keyup)="updateFilter($event)" />

          <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" [rowHeight]="getRowHeight"
            [reorderable]="reorderable" [scrollbarH]="scrollBarHorizontal" responsive="true">
            <ngx-datatable-column name="Nombre del Responsable" class="force-flex flex-nowrap" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Lugar de salida" class="force-flex flex-nowrap" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                Prueba
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Lugar Destino" class="force-flex flex-nowrap" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                Prueba
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Observación" class="force-flex flex-nowrap" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                Prueba
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Fecha y hora" class="force-flex flex-nowrap" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                Prueba
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Kilometraje" class="force-flex flex-nowrap" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                Prueba
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Detalles" class="force-flex flex-nowrap" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-sm btn-primary">Ver</button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
